NEXT_PUBLIC_SUPABASE_URL=https://vggqsygqzqbieguoblbe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnZ3FzeWdxenFiaWVndW9ibGJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDY5NzcsImV4cCI6MjA5Mjg4Mjk3N30.fiX6TxvLTvM4x0lJW--EtVwBN-DjWbdug7lwHJNUiDE

